<%-include('../includes/header.ejs')%>
<title>
    <%=title%>
</title>
</head>
<body>
    <%-include('../includes/navbar.ejs')%>
    <main>
        <div class="d-flex justify-content-center align-items-center">
            <div class="card mb-3" style="width: 25rem;">
                    <img src="/auth/<%=data.User_image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Full Name: <%=data.First_name + " "+ data.Last_name%></h5>
                      <h5 class="card-text">Email: <%=data.Email%></h5>
                      <h5 class="card-text">Identity Proof: <img src="/auth/<%=data.Identity_Proof%>" class="img-fluid rounded-start" alt="..." height="100px" width="130px"></h5>
                    </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <a href="/logout" class="btn btn-danger">Log Out</a>
              </div>
              
    </main>
<%-include('../includes/footer.ejs')%>